/*
    main.css is the usual name for a CSS which will be used on all/most pages.
*/

@import url("https://fonts.googleapis.com/css?family=Alice|Open+Sans|Roboto&display=swap");

/* Felles CSS for banner for alle sider */

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 10px;
  background-color: #333;
  display: flex;
}

li {
  margin: 0 10px 0 10px;
}

h1 {
  margin: 0;
  font-size: 30px;
  /* fontsize */
}

/* pseudo for vise hvem side som er trykket på */

a:hover {
  color: #f8e807ea;

  border-radius: 7px;
}

.active {
  padding: 8px;
  border-radius: 5px;
  background-color: #085750;
  color: #fff;
}

.cursor-axe {
  cursor: url("/images/axe-cursor.png"), auto;
}

.cursor-pickaxe {
  cursor: url("/images/pickaxe-cursor.png"), auto;
}

.resources-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.mining-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mining-img img {
  width: 100%;
  border-radius: 60px;
}
.wood-img img {
  width: 100%;
  border-radius: 60px;
}

@media only screen and (max-width: 650px) {
  /* header */
  header {
    flex-direction: column;
    align-items: center;
  }

  /* ul */
  ul {
    flex-direction: column;
    align-items: center;
  }

  /* li */
  li {
    margin: 10px 0 10px 0;
  }

  /* h1 */
  h1 {
    font-size: 20px;
  }

  /* mobile-resource-img */

  #mobile-resource-img {
    width: 40px;
    height: auto;
  }

  /* Getting-resources.html*/
  .resources-images {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .mining-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mining-img img {
    width: 100%;
    border-radius: 60px;
  }
  .wood-img img {
    width: 100%;
    border-radius: 60px;
  }
}
