/*
    main.css is the usual name for a CSS which will be used on all/most pages.
*/

@import url("https://fonts.googleapis.com/css?family=Alice|Open+Sans|Roboto&display=swap");

/* Felles CSS for banner for alle sider */

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

h3 {
  font-weight: bold;
  padding: 10px;
  font-family: "Alice";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 10px;
  background-color: #333;
  display: flex;
}

li {
  margin: 0 10px 0 10px;
}

h1 {
  margin: 0;
  font-size: 30px;
  /* fontsize */
}

/* pseudo for vise hvem side som er trykket på */

a:hover {
  color: #f8e807ea;

  border-radius: 7px;
}

.active {
  padding: 8px;
  border-radius: 5px;
  background-color: #085750;
  color: #fff;
}
